*{margin:0;padding:0;}
footer{
    background:url(../img/dibubg.jpg)#f0f0f0 repeat-x;
    overflow:hidden;
    .foots{
        width:1080px;
        margin:7px auto 0;
        padding-bottom:25px;
        border-bottom:1px solid #d9d9d9;
        div{width:660px;
            margin:32px auto 0;
            overflow:hidden;
            display:flex;
            justify-content:space-around;
            
            }
        ul{
            list-style:none;
            float:left;
            li{
                font-size:12px;
                color:#333;
                height:26px;
                line-height:26px;
                a{
                    text-decoration:none;
                    color:#666;
                    
                }
            }
            li:nth-of-type(1){
                line-height:22px;
                height:22px;
                padding-bottom:7px;
                font-weight:bold;
            } 
        }
    }
    .footo{
        width:1080px;
        margin:0 auto;
        div{
            width:660px;
            margin:0 auto;
            display:flex;
            justify-content:space-between;
            font-size:14px;
            margin-top:15px;
            a{
                text-decoration:none;
                color:#666;
            }
        }
        .youqing{
            width:600px;
            margin:15px auto 0;
            color:#999;
            span{width:100px;}
            .link{
                float:left;
                margin:0;
                ul{
                    width:500px;
                    height:16px;
                    list-style:none;
                    float:left;
                    overflow:hidden;
                    li{
                        float:left;
                        margin-right:15px;
                        a{color:#999;font-size:12px;}
                    }
                }
            }
        }
        .copyright{
            display:block;
            margin-top:8px;
            padding-left:20px;
            span{
                color:#999;
                font-size:12px;
            }
            a{
                color:#999;
                font-size:12px;
            }
        }
        .number{
            span{margin:0 auto;background:url(../img/phone.jpg) no-repeat left;text-indent:23px;}
        }
        .icon{
            display:block;
            p{margin:0 auto;width:240px;}
        }
    }
}
