.bigbox{
    background:#e7f8ff;
    overflow:hidden;
    .nav{
        width:1000px;margin:0 auto;background:#e7f8ff;margin-top:15px;
        ul{
            overflow:hidden;
            list-style:none;
            li{
                float:left;
                font-size:12px;
                margin-right:10px;
                a{text-decoration:none;color:#000;}
            }
            li:nth-of-type(1){padding-left:5px;}
        }
    }
    .second{
        width:1000px;margin:15px auto 0;background:#fff;overflow:hidden;
        .piture{
            padding:20px;float:left;
            .xiaopiture{width:330px;height:80px;overflow:hidden;}
        }
        .message{
            float:left;width:530px;
            p:nth-of-type(1){font-size:14px;margin-top:20px;}
            p:nth-of-type(1) span{border:1px dashed #000;width:230px;display:inline-block;margin-right:19px;}
            p:nth-of-type(1) span:nth-of-type(2){margin-left:19px;margin-right:0;}
            p:nth-of-type(2){font-size:16px;margin-top:25px;font-weight:600;}
            p:nth-of-type(2) span{display:block;font-size:14px;color:red;font-weight:600;margin-top:10px;}
            p:nth-of-type(3){
                margin-top:20px;
                span:nth-of-type(1){font-weight:600;font-size:28px;color:red;}
                span{font-size:12px;color:#000;font-weight:normal;margin-left:10px;}
                span:nth-of-type(2){font-size:12px;background:url(../img/mian.png) no-repeat -3px -59px;display:inline-block;height:28px;color:#fff;margin-left:10px;width:36px;text-indent:3px;}
                span:nth-of-type(4){text-decoration:line-through;}
            }
            p:nth-of-type(4){
                background:url(../img/mian.png) no-repeat -39px 0;width:522px;height:47px;
                span:nth-of-type(1){background:url(../img/mian.png) no-repeat -8px -99px;display:inline-block;width:25px;height:23px;margin:11px 0 0 23px;float:left;}
                span:nth-of-type(2){font-size:12px;display:inline-block;float:left;margin:15px 0 0 10px;}
            }
            p:nth-of-type(5){
                font-size:12px;
                margin:30px 0 30px 10px;
                span{border:1px solid #7ddcef;display:inline-block;width:62px;height:24px;text-align:center;line-height:24px;margin-left:20px;
                position:relative;
                a{display:inline-block;background:url(../img/mian.png) no-repeat right bottom;background-position:-45px -57px;position:absolute;bottom:0;right:0;width:9px;height:9px;}
                }
            }
            p:nth-of-type(6){
                font-size:12px;
                margin:30px 0 30px 10px;
                span{border:1px solid #000;display:inline-block;width:20px;height:24px;text-align:center;line-height:24px;
                }
                b{width:45px;font-weight:normal;display:inline-block;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;line-height:24px;}
            }
            .anniu{
                overflow:hidden;
                a:nth-of-type(1){display:block;width:140px;height:54px;background:url(../img/mian.png) no-repeat -860px -945px;margin-left:10px;float:left;}
    span{display:block;width:140px;height:54px;background:#f89c42;color:#fff;margin-left:10px;text-decoration:none;line-height:54px;text-align:center;float:left;}
            }
            p:nth-of-type(7){margin:20px 0 0 10px;}
        }
    }
    .xiangpic{
        width:1000px;margin:20px auto 0;
        background:#fff;
        .fixed{position: fixed;top:0;left:0;right:0;width:1000px;margin:0 auto;}
        ul{
            width:1000px;height:46px;
            background:#eaeaea;
            li{
                list-style:none;
                float:left;
                a{
                    text-decoration:none;
                    font-size:14px;
                    font-weight:600;
                    display:block;
                    width:100px;
                    height:46px;
                    color:#fff;
                    text-align:center;
                    line-height:46px;
                    background:#eaeaea;
                }
                a:nth-of-type(1){background:#71d9ed;}
            }
        }
    }
}
.car{
    position: absolute;top: 170px;right:0px;width: 100px; border:1px solid #ccc;text-align: center;
  
}
.guding{position:fixed;top:0;right:0;}
